_legacy
dist
_tmpImages
_images
_videoFrames
_scripts/*.mp4

## Node.js
lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
node_modules

## Bower
src/components

## Sass
.sass-cache

## OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
apps/assets/img/project_images
apps/assets/img/collection_thumbs