.header {
  background-image: linear-gradient(rgba(#3228d9, 1), rgba(#3228d9, 0));
  background-color: rgba(#3228d9, 0.85);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 7px 0 7px 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  @media screen and (max-width: 768px) {
    padding: 7px 0 7px 8px;
  }

  &__button {
    border: 3px;
    color: $white;
    cursor: pointer;
    display: none;
    padding: 3px 5px;
    position: absolute;
    right: 10px;
    top: 10px;

    @media screen and (max-width: 768px) {
      display: block;

      &:hover {
        background: rgba($white, 0.2);
      }
    }
  }

  &-link {
    color: $white;
    display: flex;
    position: relative;
    text-decoration: none;
    user-select: none;
  }

  &__title {
    font-weight: $font-weight-medium;
    font-size: $font-size-xs;
    left: 50px;
    letter-spacing: 0.03em;
    line-height: 1.7em;
    margin: -4px 0 0 22px;
    position: absolute;
  }

  &__logo {
    display: block;
    height: 34px;
    letter-spacing: 0.03em;
    width: auto;
  }

  &__navigation {
    display: flex;
    font-weight: 500;
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: capitalize;

    @media screen and (max-width: 768px) {
      display: none;
      background-color: rgba($white, 1);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      flex-direction: column;
      left: 0;
      padding: 10px 0;
      position: absolute;
      top: 48px;
      width: 100%;
      max-height: calc(100vh - 48px);
      overflow-y: auto;
    }

    &.active {
      display: flex;
    }

    &-item {
      align-self: center;
      font-size: $font-size-xs;
      margin-right: 30px;
      padding: 5px 0;
      position: relative;
      z-index: 2;

      &:last-of-type {
        border: none;
      }

      &:nth-of-type(4) .header__navigation-sublist{
        width: 150px;
      }

      a {
        color: $white;
        text-decoration: none;
      }

      @media screen and (max-width: 768px) {
        border-bottom: 1px solid $primary-color;
        font-size: $font-size-s;
        margin: 0;
        padding: 10px 0;
        text-align: center;
        width: 100%;

        &:nth-of-type(4) .header__navigation-sublist{
          width: auto;
        }

        a {
          color: $primary-color;
        }
      }

      &--lang {
        padding: 0 10px;

        a {
          padding: 0 4px;
        }

        &::before {
          background-color: $white;
          content: '';
          height: 70%;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 1px;
        }
      }

      &:hover {
        .header__navigation-sublist {
          opacity: 1;
          pointer-events: all;
          transform: translateY(0);
        }
      }
    }

    &-sublist {
      background-color: $white;
      border-radius: 3px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      display: block;
      list-style: none;
      margin: 0;
      opacity: 0;
      padding: 5px 3px;
      pointer-events: none;
      position: absolute;
      text-align: center;
      transform: translateY(-5%);
      transition: transform 0.25s, opacity 0.25s;
      user-select: none;
      width: 100%;
      z-index: 1;

      a {
        color: $primary-color;
      }

      @media screen and (max-width: 768px) {
        background: none;
        box-shadow: none;
        opacity: 1;
        pointer-events: all;
        position: relative;
        transform: translateY(0);
      }
    }
  }
}
