<main class="main" role="main">
    <section class="section">
        <div class="about">
            <div class="about__text">
                <p>
                    Visualization as a tool for analysis, exploration and communication has become a driving force in the task of unravelling the complex urban fabrics that form our cities. More than half of the world’s citizens are living in urban areas, with steady growth forecast in the years ahead (WHO). The complexity of the processes at work calls for methods and tools to improve understanding of the urban realm and underlying relationships and connections, for all stakeholders from urban planners, decision makers and companies to citizens. Visualization experts around the world are developing and refining new techniques to make these urban processes more transparent and understandable.
                </p>
                <p>
                    So far many projects are hidden in academic publications or within university and company archives. This platform tries to bring together cutting edge visualization projects from around the world, to strengthen the ties between the visualization community and the urban development stakeholders.
                </p>
                <!-- <p>
                    If your work touches one of the following topics and you are interested in contributing to the platform, please fill out the form.
                </p> -->
            </div>
            <!-- <div class="about__button">
                <a class="about__button-link" href="./contribute.php">I would like to contribute</a>
            </div> -->
        </div>
    </section>
</main>
