.collection {
  width: 100%;
}

.collection-section{
  padding: 0 25% 100px;
  margin:0 auto;
  @media screen and (max-width: 900px) {
    padding: 0 5% 100px;
  }
}

.filter {
  max-width: 80%;
  margin: 0 auto;
  padding-bottom:50px;

  &-list {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 900px) {
      flex-direction: column;
      display:none;
      &.active{
        display:flex;
      }
    }
  }

  &__toggle {
    background-color: $secondary-color;
    border-radius: 3px 0 0 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    color: $white;
    cursor: pointer;
    font-size: $font-size-xs;
    font-weight: $font-weight-medium;
    padding: 1px 15px 1px 10px;

    @media screen and (min-width: 900px) {
      box-shadow: none;
      background-color: $white;
      color: $secondary-color;
      border-radius: 0;
      border-bottom: 1px solid $secondary-color;
      padding-left: 0;
    }

    svg {
      height: 16px;
      width: auto;
      transform:translate(0,3px);
    }
  }

  &-title {
    display: block;
    color: $black;
    font-size: $font-size-s;
    font-weight: $font-weight-medium;
    line-height: 2.5em;
    margin-bottom: 6px;
  }

  &-group {
    flex: 1;
    font-size: $font-size-s;
    margin-bottom: 7px;
    margin-right: 20px;

    &:last-of-type {
      margin-bottom: 0;
      margin-right: 0;
    }
  }
  &__button {
    white-space: nowrap;
    border: 1px solid $primary-color;
    border-radius: 2px;
    color: $primary-color;
    cursor: pointer;
    font-size: $font-size-xs;
    line-height: 1.2rem;
    margin-bottom: 10px;
    padding: 3px 5px;
    transition: background 0.15s;
    user-select: none;

    @media screen and (max-width: 900px) {
      display: inline-block;
      margin-right: 5px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &--indicator {
      border-radius: 3px;
      color: $secondary-color;
      margin-left: 8px;
      padding: 2px 3px;
    }

    &.active, &:hover {
      background: $primary-color;
      color: $white;
    }
  }

  &.sticky {
    pointer-events: all;

    .filter__toggle {
      transform: translate(0, -150%);
    }
  }
  &.sticky-sidebar {
    opacity: 1;
    transform: translateY(0);
  }
}
