<header class="header" role="banner">
  <div class="header__button">Menu</div>
  <a class="header-link" href="/">
    <img class="header__logo" src="/assets/img/city-vis_logo.svg" alt="CityVis">
    <span class="header__title">
      <div>Visualising</div>
      <div>Cities</div>
    </span>
  </a>
  <nav role="navigation">
    <ul class="header__navigation">
      <li class="header__navigation-item">
        <a href="/">Home</a>
      </li>
      <li class="header__navigation-item">
        <a href="/collection">Collection</a>
      </li>
      <li class="header__navigation-item">
        <a href="/competitions/2022">Competition</a>
        <ul class="header__navigation-sublist">
          <li><a href="/competitions/2022">2022</a></li>
          <li><a href="/competitions/2018">2018</a></li>
          <li><a href="/competitions/2016">2016</a></li>
        </ul>
      </li>
      <li class="header__navigation-item">
        <a href="/exhibitions/2022/en">Exhibition</a>
        <ul class="header__navigation-sublist">
          <li><strong>2022</strong></li>
          <li><a href="/exhibitions/2022/en">Exhibition</a></li>
          <li><a href="/exhibitions/2022/de">Ausstellung</a></li>
          <li><a href="/exhibitions/2022/symposium_en">Symposium&nbsp;(EN)</a></li>
          <li><a href="/exhibitions/2022/symposium_de">Symposium&nbsp;(DE)</a></li>
          <li><a href="/exhibitions/2018">2018</a></li>
        </ul>
      </li>
      <li class="header__navigation-item">
        <a href="/workshops/2022">Workshop</a>
        <ul class="header__navigation-sublist">
          <li><a href="/workshops/2022">2022</a></li>
          <li><a href="/workshops/2020">2020</a></li>
          <li><a href="/workshops/2019">2019</a></li>
          <li><a href="/workshops/2018">2018</a></li>
        </ul>
      </li>
      <li class="header__navigation-item">
        <a href="/about">About</a>
      </li>
    </ul>
  </nav>
</header>
