<div class="hero" id="hero">
    <h1 class="hero__title">{{ title }}</h1>

    <div class="hero__map">
        <div class="hero__map-layer hero__map-layer--buildings">
            <img id="hero__map-buildings" src="../../assets/img/map_layers/CAN_building_white.png" alt="">
        </div>
        <div class="hero__map-layer hero__map-layer--streets">
            <img id="hero__map-streets" src="../../assets/img/map_layers/CAN_highway_white.png" alt="">
        </div>
    </div>

    <span class="hero__shuffle">
        <img class="hero__shuffle-button" src="../../assets/img/shuffle.svg" alt="shuffle button">
        <div id="hero__map-location" class="hero__shuffle-text">
            <div id="hero__map-location--city">Ottawa, Canada</div>
            <div id="hero__map-location--coord">Lat 45.421, Long -75.690</div>
        </div>
    </span>
</div>
