---
title: Collection
layout: collection
eleventyNavigation:
  key: Collection
  order: -1
---

<section class="section collection-section">

  <h2>Collection</h2>
  <div class="container" id="intro">
	  <p>Visualization as a tool for analysis, exploration and communication has become a driving force in the task of unravelling the complex urban fabrics that form our cities. This platform tries to bring together urban visualization projects from around the globe.</p>		
  </div>
  <a class="about-link" href="./about.php" class="">
    Read more about the platform
  </a>
</section>

<div class="filter">
  <div class="filter__toggle"><svg width="24" height="24" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.99961 3H19.9997C20.552 3 20.9997 3.44764 20.9997 3.99987L20.9999 5.58569C21 5.85097 20.8946 6.10538 20.707 6.29295L14.2925 12.7071C14.105 12.8946 13.9996 13.149 13.9996 13.4142L13.9996 19.7192C13.9996 20.3698 13.3882 20.8472 12.7571 20.6894L10.7571 20.1894C10.3119 20.0781 9.99961 19.6781 9.99961 19.2192L9.99961 13.4142C9.99961 13.149 9.89425 12.8946 9.70672 12.7071L3.2925 6.29289C3.10496 6.10536 2.99961 5.851 2.99961 5.58579V4C2.99961 3.44772 3.44732 3 3.99961 3Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>&nbsp; Filter Projects</div>
  <div class="filter-list">
    <div class="filter-group">
      <span class="filter-title">Project Type</span>
      {% for tax in taxonomies.types.taxonomies | sort(true, false, 'count') %}
      {% if tax.count > 1 %}<span class="filter__button f_t_{{tax.id}}" data-key="t" data-filter="{{tax.id}}">{{tax.key}}<span class="filter__button--indicator">{{tax.count}}</span></span>{% endif %}{% endfor %}
    </div>
    <div class="filter-group">
      <span class="filter-title">Project Area</span>
      {% for tax in taxonomies.areas.taxonomies | sort(true, false, 'count') %}
      {% if tax.count > 1 %}<span class="filter__button f_a_{{tax.id}}" data-key="a" data-filter="{{tax.id}}">{{tax.key}}<span class="filter__button--indicator">{{tax.count}}</span></span>{% endif %}{% endfor %}
    </div>
    <div class="filter-group">
      <span class="filter-title">Project Medium</span>
      {% for tax in taxonomies.mediums.taxonomies | sort(true, false, 'count') %}
      {% if tax.count > 1 %}<span class="filter__button f_m_{{tax.id}}" data-key="m" data-filter="{{tax.id}}">{{tax.key}}<span class="filter__button--indicator">{{tax.count}}</span></span>{% endif %}{% endfor %}
    </div>
  </div>
</div>

<div class="project-tiles">
  {% for project in projects | sort(true, false, 'project_year') %}
    <div class="project-tiles__tile{%for t in project.types%} f_t_{{t}}{%endfor%}{%for a in project.areas%} f_a_{{a}}{%endfor%}{%for m in project.mediums%} f_m_{{m}}{%endfor%}">
      <a href="/collection/project/{{ project.short_title | slugify }}">
        <div class="project-tiles__tile-image">
          <img width="300" height="175" src="/assets/img/collection_thumbs/{{project.imageNames[0]}}" loading="lazy" alt="{{ project.short_title }}" />
        </div>
        <div class="project-tiles__tile-content">
          <div class="project-tiles__tile-title">
            {{ project.short_title }}
            <div class="project-tiles__tile-title--organization">
              {% if project.organization %}{{ project.organization }}{% else %}{{ project.first_name}} {{ project.last_name}}{% endif %}, <span>{{ project.project_year }}</span>
            </div>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>